@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Tapestry&display=swap');

#content {
max-width: 1600px;
margin: 0 auto;
}

nav a {
text-align: center;
color: #92DCE5;
text-decoration: none;
padding: 35px;
}


#hero-msg h1, #hero-msg h4 {
text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

body {
background-color: rgb(236, 248, 248);
font-family: 'Raleway', 'Arial', 'sans-serif';
font-size: 22px;
margin: 0;
padding: 0;
}

header {
    background-color: #00296B;
}

nav a:hover {
    background-color: #17b5d5;
    color: white;
}

.book, .join {
    background-color: #00509D;
    color: #92DCE5;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

#backround {
    height: 725px;
    background-color: #92DCE5;
    color: #00296B;
}

.msg {
    background-color: #17b5d5;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #00296B;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #00509D;
    font-family: 'Tapestry', 'Helvitica';
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #00509D;
}

.book:hover, .join:hover {
    background-color: #92DCE5;
    color: white;
}

h2 {
    margin: 0;
}

.msg h2 {
    color:#00296B;
    font-family: 'Tapestry','Helvetica';
}

.msg p {
    color: black;
    font-family: 'Raleway','Arial','sans-serif';
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: #17b5d5;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: #17b5d5;
    text-decoration: none;
}
footer a:hover {
    color: #92DCE5;
}

footer .social img {
    padding-top: 15px;
}

.icon {
width: 80px;
padding-top: 10px;
}

.logo {
    width: 80px;
    padding: 5px;
}

#hero-img {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #00296B;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}