ul,
ol {
    list-style-type: none;
}



/*

.blueTable {
    border-collapse: collapse;
   
}


.blueTable tr, 
.blueTable td {
    border: 1px solid blue;
}

.blueTable tr:nth-child(odd){
    background-color:  aqua;
}

.blueTable td {
    padding: 10px;
}

.blueTable tr td:nth-child(even){
    background-color: brown;
}